// Colors
$text-dark: #56524D;
$text-light: #8B918B;
$text-white: #FEFEFE;
$primary-color: #74D0C8;
$dark-blue: #3D84A8;
$light-blue: #A6D9E3;
$teal: #46CDCF;
$light-purple: #A3A9D3;
$light-yellow: #FFD460;
